/* Main content */
nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

h1 {
    color: steelblue;
}

/* Aside section */
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

/* Aside image */
aside img {
    width: 200px;
    height: auto;
}

/* Profile image */
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

/* Paragraph styling */
p {
    padding: 0;
}

/* Footer styling */
footer {
    margin-top: 1rem;
    border-top: 1px solid #000;
    text-align: center;
}